*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap');
    font-family: 'Roboto', sans-serif;
    
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
.flex{
    display: flex;
}
.flexrow{
    display: flex;
    flex-direction: row;

}
.flexcol{
    display: flex;
    flex-direction: column;

}
.f-space-around{
    justify-content: space-around;
}
.f-space-between{
    justify-content: space-between;
}
/* CONTAINER WEB APP */
.container-web-app{
   height: 100vh;
}
/* CONTAINER UP */
.container-up{
    display: flex;
    flex-direction: row;
    height: 90vh;
}
/* SECTION LEFT */
.section-left{
    width: 300px;
    height: 90vh;
}
.side-bar{
    background-color: #000000;
    padding: 20px;
    height: 100%;
    font-size: 1rem;
    width: 300px
}
ul{
    list-style: none;
    margin-top: 20px;
    line-height: 30px;
}
.playlist-container{
    color: white;
}
.user-container{
    color: white;
}
.user-name{
    align-items: center;
    display: flex;
    margin-top: 5px;
}
.install{
    margin-bottom: 10px;
    opacity: 50%;
}
hr{
    opacity: 50%;
}
.profile-img{
    width: 30px;
    background-color: gray;
    border-radius: 50%;
    margin: 5px;
}
.logo{
    width: 100%;
}
/* SECTION RIGHT */
.section-right{
    background-color: #151922;
    flex-grow: 1;
    height: 90vh;
    overflow-y: auto;
}
.container-genre{
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.add{
    padding: 5px 8px;
    background-color: gray;
    font-size: 1.5rem;
    margin-right: 3px;
}
.genre{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: white;
    opacity: 50%;
}
.Recently-played-sec{
    margin: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/* CARD */
.card{
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
}
.subtitle{
    opacity: 70%;
}
.card-img{
  width: 250px;
  height: 250px;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
}
.rounded{
    border-radius: 50%;
}
/* HEADER */
.header{
    width: 100%;
    height: 15%;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: black;
    align-items: center;
    justify-content: right;
}
.premium-btn{
    border-style: none;
    margin-right: 30px;
    padding: 10px;
    border-radius: 150px;
    background-color: black;
    border: 2px solid white;
    color: white;
}
/* PLAYER */
.player{
    background-color: #282828;
    height: 10%;
    color: white;
}
.bg-purple{
    background-color: purple;
}
.bg-green{
    background-color: green;
}
.player-left{
    display: flex;
    align-items: center;
}
.img-player{
    width: 50px;
    margin: 10px;
}
.action-song{
    margin: 20px;
}
.player-mid{
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.fa-play{
    border: 3px solid white;
    padding: 5px;
    border-radius: 50%;
}
.fa-space{
    margin: 10px;
}
.mid-btn{
    margin-bottom: 10px;
    width: 100%;
    margin: auto;
}
.mid-btn2{
    margin-bottom: 20px;
    width: 100%;
    margin: auto;
    
}
.bar{
    border: 2px solid gray;
    color: gray;
    border-radius: 20px;    
    margin: auto;
    opacity: 50%;
    position: relative;
}
.inside-bar{
    border: 2px solid white;
    border-radius: 20px;    
    width: 25%;
    opacity: 100%;
    position: absolute;
    top: -2px;
    left: -2px;
    
}
.player-right{
    
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.logo-small{
    display: none;
}
.player-right > .bar{
    width: 70px;
}
@media  screen and (max-width:768px){
    .logo{
        width: 120px;
    }
    .section-left{
        width: 200px;
    }
    .mid-btn{
        
    }
    .action-song{
        display: flex;
        gap: 10px;
    }
    .fa-space{
        margin: 3px;
    }
    ul{
        font-size: 0.8rem;
    }
    .genre{
        font-size: 0.6rem;
    }
    .card-img{
        width: 100px;
        height: 100px;
    }
    h3{
        font-size: 0.6rem;
    }
    .subtitle{
        font-size: 0.6rem;
    }
    hr{
        width: 170px;
    }
    .bar{
        max-width: 100px;
        min-width: 20px;
    }
    .fa-list{
        display: none;
    }
    .info-song{
        font-size: 0.8rem;
    }
}
@media  screen and (max-width:425px){
    .section-left{
        width: 50px;
    }
    .logo{
        display: none;
    }
    .logo-small{
        display: block;
        width: 25px;
    }
    .scritte-side-bar{
        display: none;
    }
    .crea-playlist{
        display: none;
    }
    hr{
        display: none;
    }
    .install > span{
        display: none;
    }
    .profile-img{
        width: 25px; 
    }
    .card-img{
        width: 120px;
        height: 120px;
    }
    
    .action-song > .fa-folder{
        display: none;
    }
    .info-song{
        font-size: 0.8rem;
    }
    .player-right > .bar{
        display: none;
    }
}