*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap');
    font-family: 'Roboto', sans-serif;
    
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
.flex{
    display: flex;
}
.flexrow{
    display: flex;
    flex-direction: row;

}
.flexcol{
    display: flex;
    flex-direction: column;

}
.f-space-around{
    justify-content: space-around;
}
.f-space-between{
    justify-content: space-between;
}
/* CONTAINER WEB APP */
.container-web-app{
   height: 100vh;
}
/* CONTAINER UP */
.container-up{
    display: flex;
    flex-direction: row;
    height: 90vh;
}
/* SECTION LEFT */
.section-left{
    background-color: blue;
    width: 15%;
    height: 90vh;
}
.side-bar{
    background-color: #000000;
    padding: 20px;
    height: 100%;
    font-size: 1rem;
}
ul{
    list-style: none;
    margin-top: 20px;
    line-height: 30px;
}
.playlist-container{
    color: white;
}
.user-container{
    color: white;
}
.user-name{
    align-items: center;
    display: flex;
    margin-top: 5px;
}
.install{
    margin-bottom: 10px;
    opacity: 50%;
}
hr{
    opacity: 50%;
}
.profile-img{
    width: 30px;
    background-color: gray;
    border-radius: 50%;
    margin: 5px;
}
.logo{
    width: 100%;
}
/* SECTION RIGHT */
.section-right{
    background-color: #151922;
    flex-grow: 1;
    height: 90vh;
    overflow-y: auto;
}
.container-genre{
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.genre{
    display: flex;
    gap: 20px;
    color: white;
    opacity: 50%;
}
.Recently-played-sec{
    margin: 30px;
    color: white;
}
/* CARD */
.card{
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
}
.subtitle{
    opacity: 70%;
}
.card-img{
  width: 250px;
  height: 250px;
}
.card-container{
    display: flex;
    width: calc(100%/6);
}
.rounded{
    border-radius: 50%;
}
/* HEADER */
.header{
    width: 100%;
    height: 15%;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: black;
    align-items: center;
    justify-content: right;
}
.premium-btn{
    border-style: none;
    
    padding: 10px;
    border-radius: 150px;
    background-color: black;
    border: 2px solid white;
    color: white;
}
/* PLAYER */
.player{
    background-color: green;
    height: 10%;
}
.bg-purple{
    background-color: purple;
}
.bg-green{
    background-color: green;
}
.player-left{
    width: 20%;
}
.player-mid{
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.mid-btn{
    margin-bottom: 10px;
    width: 40%;
    margin: auto;
}
.mid-btn2{
    margin-bottom: 10px;
    width: 80%;
    margin: auto;
}
.player-right{
    width: 20%;
}